<!DOCTYPE html>
<html>
<head>
<title>课程课程
</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../libs/ajaxupload.js"></script>
<!-- 日期插件 -->
<script src="../../plugins/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="../../plugins/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>

<!-- webuploader上传插件 -->
<link rel="stylesheet" type="text/css" href="../../plugins/webuploader/webuploader.css" />
<link rel="stylesheet" type="text/css" href="../../plugins/webuploader/style.css" />
<script type="text/javascript" src="../../plugins/webuploader/webuploader.js"></script>
<script type="text/javascript" src="../../plugins/webuploader/upload.js?version=1"></script>

</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="课程名称">
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			
			<a v-if="hasPermission('course:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('course:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('course:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			<a v-if="hasPermission('course:finish')" class="btn btn-primary" @click="finish"><i class="fa fa-pause"></i>&nbsp;结束课程</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
		
			<div class="form-group">
			   	<div class="col-sm-2 control-label">名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="course.name" placeholder="名称"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">所属课程</div>
			   	<div class="col-sm-10">
				   	<select id= "collegeId" class="form-control" v-model="course.collegeId" placeholder="所属课程">
				   		
					</select>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">开课时间</div>
			   	<div class="col-sm-10">
			      <input type="text" id="startTime" class="form-control" v-model="course.startTime" placeholder="开课时间"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">地点</div>
			   	<div class="col-sm-10">
				   <select class="form-control" v-model="course.place" placeholder="地点">
						<option value="杭州">杭州</option>
						<option value="绍兴">绍兴</option>
					</select>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">讲师</div>
			   	<div class="col-sm-10">
				   <select class="form-control" v-model="course.leaderName" placeholder="讲师">
						<option value="甘绍泉">甘绍泉</option>
						<option value="小鱼老师">小鱼老师</option>
					</select>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">报名资格</div>
			   	<div class="col-sm-10">
				   <select class="form-control" v-model="course.signupLimit" placeholder="报名资格">
						<option value="0">无级别限制</option>
						<option value="1">直推30个下单客户</option>
						<option value="2">市代以及以上</option>
					</select>
			    </div>
			</div>
<!-- 			<div class="form-group">
			   	<div class="col-sm-2 control-label">封面图片</div>
			   	<div class="col-sm-10">
			      <input id="coverImg" type="text" class="form-control" v-model="course.coverImg" placeholder="封面图片" readonly="readonly"/>
			   	  <a class="btn btn-primary" id="upload"><i class="fa fa-plus"></i>&nbsp;上传文件</a>
			    </div>
			</div> -->
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">封面图片</div>
			   	<div class="col-sm-10" style="min-height: 130px;">
			   		<input type="hidden" id="coverImg" class="form-control" v-model="course.coverImg" placeholder="封面图片" readonly="readonly"/>
			   		<button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal" >选择图片</button>
			    	<div class="input-group multi-img-details ui-sortable">
						<div class="multi-item">
						<img src="http://otmvibxnd.bkt.clouddn.com/ueditor/file/20171205/5d3d2c40ec6941a6a9784a15694047f5" class="img-responsive img-thumbnail"><input
						type="hidden" name="coverImg" value="">
						<em class="close" title="删除这张图片" onclick="deleteMultiImage(this)">×</em>
						</div>
						
						<div class="multi-item">
						<img src="http://otmvibxnd.bkt.clouddn.com/ueditor/file/20171205/5d3d2c40ec6941a6a9784a15694047f5" class="img-responsive img-thumbnail"><input
						type="hidden" name="coverImg" value="">
						<em class="close" title="删除这张图片" onclick="deleteMultiImage(this)">×</em>
						</div>
						
						<div class="multi-item">
						<img src="http://otmvibxnd.bkt.clouddn.com/ueditor/file/20171205/5d3d2c40ec6941a6a9784a15694047f5" class="img-responsive img-thumbnail"><input
						type="hidden" name="coverImg" value="">
						<em class="close" title="删除这张图片" onclick="deleteMultiImage(this)">×</em>
						</div>
						
						<div class="multi-item">
						<img src="http://otmvibxnd.bkt.clouddn.com/ueditor/file/20171205/5d3d2c40ec6941a6a9784a15694047f5" class="img-responsive img-thumbnail"><input
						type="hidden" name="coverImg" value="">
						<em class="close" title="删除这张图片" onclick="deleteMultiImage(this)">×</em>
						</div>
						
						
						<div class="multi-item">
						<img src="http://otmvibxnd.bkt.clouddn.com/ueditor/file/20171205/5d3d2c40ec6941a6a9784a15694047f5" class="img-responsive img-thumbnail"><input
						type="hidden" name="coverImg" value="">
						<em class="close" title="删除这张图片" onclick="deleteMultiImage(this)">×</em>
						</div>
						
						<div class="multi-item">
						<img src="http://otmvibxnd.bkt.clouddn.com/ueditor/file/20171205/5d3d2c40ec6941a6a9784a15694047f5" class="img-responsive img-thumbnail"><input
						type="hidden" name="coverImg" value="">
						<em class="close" title="删除这张图片" onclick="deleteMultiImage(this)">×</em>
						</div>
						
												<div class="multi-item">
						<img src="http://otmvibxnd.bkt.clouddn.com/ueditor/file/20171205/5d3d2c40ec6941a6a9784a15694047f5" class="img-responsive img-thumbnail"><input
						type="hidden" name="coverImg" value="">
						<em class="close" title="删除这张图片" onclick="deleteMultiImage(this)">×</em>
						</div>
						
						
						<div class="multi-item">
						<img src="http://otmvibxnd.bkt.clouddn.com/ueditor/file/20171205/5d3d2c40ec6941a6a9784a15694047f5" class="img-responsive img-thumbnail"><input
						type="hidden" name="coverImg" value="">
						<em class="close" title="删除这张图片" onclick="deleteMultiImage(this)">×</em>
						</div>
						
						<div class="multi-item">
						<img src="http://otmvibxnd.bkt.clouddn.com/ueditor/file/20171205/5d3d2c40ec6941a6a9784a15694047f5" class="img-responsive img-thumbnail"><input
						type="hidden" name="coverImg" value="">
						<em class="close" title="删除这张图片" onclick="deleteMultiImage(this)">×</em>
						</div>
					</div>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">课程细节-链接</div>
			   	<div class="col-sm-10">
			   	  <input type="text" class="form-control" v-model="course.courseIntroduction" placeholder="课程细节"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">精彩回顾-链接</div>
			   	<div class="col-sm-10">
			   	<input type="text" class="form-control" v-model="course.contentReview" placeholder="精彩回顾"/>
			    </div>
			</div>
<!-- 			<div class="form-group">
			   	<div class="col-sm-2 control-label">视频回顾</div>
			   	<div class="col-sm-10">
			      <input id="coverImg" type="text" class="form-control" v-model="course.videoReview" placeholder="视频回顾" readonly="readonly"/>
			   	  <a class="btn btn-primary" id="uploadVideoReview"><i class="fa fa-plus"></i>&nbsp;上传视频</a>
			    </div>
			</div> -->
				<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
	
  <!-- 上传图片 -->
  <!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    封面图片
                </h4>
            </div>
            <div class="modal-body">
				<div id="uploader" class="wu-example">
				    <div class="queueList">
				        <div id="dndArea" class="placeholder">
				            <div id="filePicker" class="webuploader-container">
				            	<div class="webuploader-pick">点击选择图片</div><div id="rt_rt_1binnblu91uid10p812ar8849nh1" style="position: absolute; top: 0px; left: 134.5px; width: 168px; height: 44px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" multiple="multiple" accept="image/*">
				            	<label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div>
				            </div>
				            <p>或将照片拖到这里，单次最多可选300张</p>
				        </div>
				        <ul class="filelist"></ul>
				    </div>
				    <div class="statusBar" style="display:none;">
				        <div class="progress" style="display: none;">
				            <span class="text">0%</span>
				            <span class="percentage" style="width: 0%;"></span>
				        </div><div class="info">共0张（0B），已上传0张</div>
								<div class="btns">
									<div id="filePicker2" class="webuploader-container">
									 <input type="hidden" id="picturesId" value=""/>
										<div class="webuploader-pick">继续添加</div>
										<div id="rt_rt_1binnbluc18pevlkb9b101q1hvq6"
											style="position: absolute; top: 0px; left: 0px; width: 1px; height: 1px; overflow: hidden;">
											<input type="file" name="file"
												class="webuploader-element-invisible" multiple="multiple"
												accept="image/*"> <label
												style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);">
											</label>
										</div>
									</div>
									<div class="uploadBtn state-pedding">确认使用</div>
								</div>
							</div>
				</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
    
   
	</div>
</div>

<script src="../../js/modules/college/course.js"></script>
<script type="text/javascript">
	function uploadMultiImage(elm) {
		var name = $(elm).next().val();
		util.image( "", function(urls){
			$.each(urls, function(idx, url){
				$(elm).parent().parent().next().append('<div class="multi-item"><img onerror="this.src=\'./resource/images/nopic.jpg\'; this.title=\'图片未找到.\'" src="'+url.url+'" class="img-responsive img-thumbnail"><input type="hidden" name="'+name+'[]" value="'+url.attachment+'"><em class="close" title="删除这张图片" onclick="deleteMultiImage(this)">×</em></div>');
			});
		}, {"multiple":true,"direct":false,"fileSizeLimit":5120000});
	}
	function deleteMultiImage(elm){
		$(elm).parent().remove();
	}
</script>
</body>
</html>