<!DOCTYPE html>
<html>
<head>
<title>上下级关系表</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<a v-if="hasPermission('relationship:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('relationship:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('relationship:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">用户</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.uid" placeholder="用户"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">上级用户</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.puid" placeholder="上级用户"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">下级用户</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.subuids" placeholder="下级用户"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">个人业绩</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.individualPerformance" placeholder="个人业绩"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">团队业绩</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.teamPerformance" placeholder="团队业绩"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">总佣金</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.totalCommission" placeholder="总佣金"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">未提佣金</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.commission" placeholder="未提佣金"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">奖金</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.prize" placeholder="奖金"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">个人消费</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.personal" placeholder="个人消费"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">状态0未申请，2申请中，1商户</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.status" placeholder="状态0未申请，2申请中，1商户"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">创建时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.createTime" placeholder="创建时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">真实姓名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.realname" placeholder="真实姓名"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">银行名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.bankname" placeholder="银行名称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">银行卡号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.account" placeholder="银行卡号"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">审核时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.checkTime" placeholder="审核时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">粉丝量</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.fans" placeholder="粉丝量"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">省代数量</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.shengdaiNum" placeholder="省代数量"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">身份证正面照</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.idCardFace" placeholder="身份证正面照"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">身份证反面照</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.idCardBack" placeholder="身份证反面照"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">手机号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.phone" placeholder="手机号"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">email</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.email" placeholder="email"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">地址</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="relationship.address" placeholder="地址"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../../js/modules/appuser/relationship.js"></script>
</body>
</html>